

.container{
  width: 40%;
  margin: 120px auto;
  text-align: center;
/* TADEK */
}
h1{
Font-Family: 'Rufina', Serif
  font-size: 2rem;
}
h2{
  Font-Family: 'PT Serif', Serif;
  font-size: 1rem;

}
.poem{
  Font-family: 'PT Serif', Serif;
  margin: auto;
  width: 50%;
  text-align: left;
}
.screens{
  width: 80%;
  margin: auto;
}
.screen{
  object-fit: cover;
  width: 100%;
}
